    <div id="tab-pesquisa">
      {% if caption %}
      <h1 id="pesquisa" class="section-header">{{ caption }}</h1>
      {% endif %}

      {% if initialize == true %}
        {% if help %}
        <h4>{{ help }}</h4>
        {% endif %}

        <!--<button type="button" id="filter-fullscreen" class="btn btn-primary">{% trans %}Fullscreen{% endtrans %}</button>-->

        {% if combos %}
        {{ combos|raw }}
        {% endif %}

        {% if tipo == 'brasil' or tipo == 'arp' %}
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#mapa"    aria-expanded="true">{% trans %}Map{% endtrans %}</a></li>
            {% if tipo == 'brasil' %}
            <li class="">      <a data-toggle="tab" href="#results" aria-expanded="false">{% trans %}List{% endtrans %}</a></li>
            {% endif %}
          </ul>

          <div class="tab-content">
        {% endif %}

        <div id="mapa" class="tab-pane active">
            <div>
              {# See http://drupal.stackexchange.com/questions/141066/drupal-8-include-part-template #}
              {% include '@isa_maps/map_area.html.twig' with { 'map_id': map_id } %}
            </div> <!-- layersmapa -->
          <!--</div>-->
        </div> <!-- mapa -->

        {% if tipo == 'brasil' or tipo == 'arp' %}
        <div id="results" class="table-responsive tab-pane">
          {% if arp_type == 'ti' %}
            <h2>{% trans %}Showing all Indigenous Lands in the database: total of{% endtrans %} {{ grid|length }}</h2>

            <table class="table table-striped tablesorter">
              <thead>
                <tr>
                  <th>{% trans %}Name{% endtrans %}</th>
                  <th>{% trans %}Legal jurisdiction{% endtrans %}</th>
                  <th>{% trans %}Area (ha){% endtrans %}</th>
                  <th>{% trans %}Population{% endtrans %}</th>
                  <th>{% trans %}Current situation{% endtrans %}</th>
                </tr>
              </thead>

              <tbody>
                {% for id in grid|keys %}
                <tr>
                  <td><a href="/{{lang}}/terras-indigenas/{{ id }}">{{ grid[id].nome_ti }}</a></td>
                  <td>{{ grid[id].jurisdicao_legal }}</td>
                  <td>{% if grid[id].area_oficial  == 0 or grid[id].area_oficial  == '' %}-{% else %}{{ grid[id].area_oficial }}{% endif %}</td>
                  <td>{% if grid[id].populacao_arp == 0 or grid[id].populacao_arp == '' %}-{% else %}{{ grid[id].populacao_arp }}{% endif %}</td>
                  <td>{{ grid[id].grupo}}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          {% elseif arp_type == 'uc' %}
            <h2>{% trans %}Showing all Conservation Areas in the database: total of{% endtrans %} {{ grid|length }}</h2>

            <table class="table table-striped tablesorter">
              <thead>
                <tr>
                  <th>{% trans %}Name{% endtrans %}</th>
                  <th>{% trans %}Category{% endtrans %}</th>
                  <th>{% trans %}Area (ha){% endtrans %}</th>
                  <th>{% trans %}CNUC Code{% endtrans %}</th>
                </tr>
              </thead>

              <tbody>
                {% for id in grid|keys %}
                <tr>
                  <td><a href="/{{lang}}/terras-indigenas/{{ id }}">{{ grid[id].nome_arp }}</a></td>
                  <td>{{ grid[id].categoria }}</td>
                  <td>{% if grid[id].area_oficial  == 0 or grid[id].area_oficial  == '' %}-{% else %}{{ grid[id].area_oficial }}{% endif %}</td>
                  <td>{{ grid[id].codigo_cnuc }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
        {% endif %}

        {% if tipo == 'brasil' or tipo == 'arp' %}
          </div>
        </div>
        {% endif %}
      {% else %}
        {% trans %}There is no available data for plotting this Protected Area in a map.{% endtrans %}
      {% endif %}
    </div> <!-- pesquisa -->
